<div id="<%= dom_id article %>">
  <%#= cl_image_tag article.photo.key, width: 500, height: 400, crop: :fill %> 
  <!--=> <img>-->
  
  <% article.photos.each do |photo| %>
    <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill %>
  <% end %>
  
    
  <h1><%= article.title %></h1>
  
  

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
